### Ryeol try Auto ML
### 2022 - 08-11
### Python kernel : pycaret(Python 3.8.13)

In [3]:
from pycaret.regression import *
import pandas as pd

# 1018662 -> THE FIRST ONE

In [4]:
df1 = pd.read_csv("C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/662/train1.csv", index_col = 0)
df1

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018662
ymdhm,,,,,,,,,,,
2014-05-01 0:40,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,350.33,1056.61,326.7
2014-05-01 0:50,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,325.7
2014-05-01 1:00,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,324.7
2014-05-01 1:10,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,322.7
2014-05-01 1:20,516.29,790.92,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,320.7
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 23:00,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,352.31,366.60,281.7
2022-05-31 23:10,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,279.7
2022-05-31 23:20,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,278.7
2022-05-31 23:30,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,277.7
2022-05-31 23:40,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,278.7

In [5]:
reg_test_1 = setup(data= df1, target='wl_1018662', train_size=0.8, fold=5, session_id = 1520,imputation_type='iterative', iterative_imputation_iters=10, categorical_iterative_imputer='lightgbm',silent = True)

In [6]:
best = compare_models(sort='RMSE')

In [7]:
best

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [8]:
gbr = create_model('gbr', cross_validation=False)

       MAE       MSE     RMSE      R2   RMSLE    MAPE
0  14.4703  510.2349  22.5884  0.9221  0.0638  0.0433

In [9]:
best_tune = tune_model(gbr, optimize = 'RMSE', n_iter = 10)

In [10]:
best_tune

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.3, loss='ls', max_depth=2,
                          max_features='log2', max_leaf_nodes=None,
                          min_impurity_decrease=0.0005, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=150,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=0.45, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [11]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [12]:
predict_model(best_tune)

       fw_1018683_t-4  wl_1018662       Label
0          248.479996  286.700012  287.997841
1          211.309998  275.700012  283.421851
2          235.820007  273.700012  286.259320
3         -892.809998  338.700012  358.755715
4          273.709991  286.700012  290.174925
...               ...         ...         ...
27378      425.799988  313.700012  304.547480
27379      849.989990  339.700012  335.558329
27380      211.500000  291.700012  283.421851
27381      277.459991  287.700012  290.174925
27382      207.029999  275.700012  283.421851

[27383 rows x 3 columns]

In [13]:
pd1 = pd.read_csv('C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/662/pred1.csv', index_col = 0)

In [14]:
sm1 = predict_model(best_tune, data= pd1)
sm1

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018662,Label
ymdhm,,,,,,,,,,,,
2022-05-31 23:50,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,0,314.865945
2022-06-01 0:00,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,0,312.149856
2022-06-01 0:10,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,0,304.547480
2022-06-01 0:20,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,0,282.156589
2022-06-01 0:30,53.52,386.43,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,0,291.527964
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:00,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,379.51,552.17,0,298.993564
2022-07-18 23:10,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,0,298.993564
2022-07-18 23:20,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,0,298.191107
2022-07-18 23:30,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,0,298.191107
2022-07-18 23:40,-1023.37,1073.46,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,0,300.314717

In [16]:
sm1.to_csv("sm1.csv",columns=['Label'])

### wl_1018680 THE SECOND ONE

In [18]:
df2 = pd.read_csv("C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/680/train2.csv", index_col = 0)
df2

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018680
ymdhm,,,,,,,,,,,
2014-05-01 0:40,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,350.33,1056.61,314.2
2014-05-01 0:50,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,312.2
2014-05-01 1:00,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,311.2
2014-05-01 1:10,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,309.2
2014-05-01 1:20,516.29,790.92,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,307.2
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 23:00,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,352.31,366.60,281.2
2022-05-31 23:10,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,279.2
2022-05-31 23:20,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,277.2
2022-05-31 23:30,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,276.2
2022-05-31 23:40,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,276.2

In [19]:
reg_test_2 = setup(data= df2, target='wl_1018680', train_size=0.8, fold=5, session_id = 1520,imputation_type='iterative', iterative_imputation_iters=10, categorical_iterative_imputer='lightgbm',silent = True)

In [20]:
best = compare_models(sort='RMSE')

In [21]:
best

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [22]:
gbr2 = create_model('gbr', cross_validation=False)

       MAE       MSE     RMSE     R2   RMSLE    MAPE
0  15.0813  505.6256  22.4861  0.904  0.0662  0.0469

In [23]:
best_tune2 = tune_model(gbr, optimize = 'RMSE', n_iter = 10)

In [24]:
best_tune

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.3, loss='ls', max_depth=2,
                          max_features='log2', max_leaf_nodes=None,
                          min_impurity_decrease=0.0005, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=150,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=0.45, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [25]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [26]:
predict_model(best_tune)

       fw_1018683_t-4  wl_1018680       Label
0          248.479996  273.200012  287.997841
1          211.309998  274.200012  283.421851
2          235.820007  267.200012  286.259320
3         -892.809998  326.200012  358.755715
4          273.709991  275.200012  290.174925
...               ...         ...         ...
27378      425.799988  328.200012  304.547480
27379      849.989990  321.200012  335.558329
27380      211.500000  277.200012  283.421851
27381      277.459991  275.200012  290.174925
27382      207.029999  265.200012  283.421851

[27383 rows x 3 columns]

In [27]:
pd2 = pd.read_csv('C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/680/pred2.csv', index_col = 0)

In [28]:
sm2 = predict_model(best_tune, data= pd2)
sm2

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018680,Label
ymdhm,,,,,,,,,,,,
2022-05-31 23:50,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,0,314.865945
2022-06-01 0:00,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,0,312.149856
2022-06-01 0:10,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,0,304.547480
2022-06-01 0:20,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,0,282.156589
2022-06-01 0:30,53.52,386.43,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,0,291.527964
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:00,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,379.51,552.17,0,298.993564
2022-07-18 23:10,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,0,298.993564
2022-07-18 23:20,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,0,298.191107
2022-07-18 23:30,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,0,298.191107
2022-07-18 23:40,-1023.37,1073.46,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,0,300.314717

In [29]:
sm2.to_csv("sm2.csv",columns=['Label'])

# wl_1018683 THE THIRD ONE

In [30]:
df3 = pd.read_csv("C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/683/train3.csv", index_col = 0)
df3

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018683
ymdhm,,,,,,,,,,,
2014-05-01 0:40,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,350.33,1056.61,309.0
2014-05-01 0:50,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,308.0
2014-05-01 1:00,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,307.0
2014-05-01 1:10,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,305.0
2014-05-01 1:20,516.29,790.92,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,303.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 23:00,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,352.31,366.60,278.0
2022-05-31 23:10,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,278.0
2022-05-31 23:20,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,277.0
2022-05-31 23:30,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,276.0
2022-05-31 23:40,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,275.0

In [31]:
reg_test_3 = setup(data= df3, target='wl_1018683', train_size=0.8, fold=5, session_id = 1520,imputation_type='iterative', iterative_imputation_iters=10, categorical_iterative_imputer='lightgbm',silent = True)

In [32]:
best = compare_models(sort='RMSE')

In [33]:
best

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [34]:
gbr = create_model('gbr', cross_validation=False)

       MAE       MSE     RMSE     R2   RMSLE    MAPE
0  14.4159  479.0382  21.8869  0.895  0.0654  0.0454

In [35]:
best_tune = tune_model(gbr, optimize = 'RMSE', n_iter = 10)

In [36]:
best_tune

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.3, loss='ls', max_depth=2,
                          max_features='log2', max_leaf_nodes=None,
                          min_impurity_decrease=0.0005, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=150,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=0.45, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [37]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [38]:
predict_model(best_tune)

       fw_1018683_t-4  wl_1018683       Label
0          248.479996       274.0  275.909369
1          211.309998       267.0  272.100410
2          235.820007       258.0  273.864853
3         -892.809998       322.0  340.528900
4          273.709991       274.0  278.956537
...               ...         ...         ...
27378      425.799988       312.0  293.171964
27379      849.989990       317.0  322.650772
27380      211.500000       276.0  272.100410
27381      277.459991       275.0  278.956537
27382      207.029999       261.0  272.100410

[27383 rows x 3 columns]

In [39]:
pd3 = pd.read_csv('C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/683/pred3.csv', index_col = 0)

In [40]:
sm3 = predict_model(best_tune, data= pd3)
sm3

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1018683,Label
ymdhm,,,,,,,,,,,,
2022-05-31 23:50,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,0,303.218451
2022-06-01 0:00,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,0,299.651359
2022-06-01 0:10,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,0,293.171964
2022-06-01 0:20,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,0,270.551279
2022-06-01 0:30,53.52,386.43,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,0,276.429713
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:00,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,379.51,552.17,0,286.892256
2022-07-18 23:10,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,0,286.892256
2022-07-18 23:20,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,0,286.483747
2022-07-18 23:30,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,0,286.483747
2022-07-18 23:40,-1023.37,1073.46,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,0,286.276849

In [41]:
sm3.to_csv("sm3.csv",columns=['Label'])

# wl_1019630 THE FOURTH ONE

In [42]:
df4 = pd.read_csv("C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/630/train4.csv", index_col = 0)
df4

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1019630
ymdhm,,,,,,,,,,,
2014-05-01 0:40,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,350.33,1056.61,295.3
2014-05-01 0:50,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,249.84,1006.88,294.3
2014-05-01 1:00,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,206.48,958.36,294.3
2014-05-01 1:10,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,249.50,911.07,294.3
2014-05-01 1:20,516.29,790.92,466.35,790.92,389.87,790.92,343.21,805.46,305.01,849.91,294.3
...,...,...,...,...,...,...,...,...,...,...,...
2022-05-31 23:00,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,352.31,366.60,271.3
2022-05-31 23:10,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,583.03,376.45,272.3
2022-05-31 23:20,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,665.37,386.43,272.3
2022-05-31 23:30,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,631.20,438.33,271.3
2022-05-31 23:40,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,597.98,471.08,270.3

In [43]:
reg_test_4 = setup(data= df4, target='wl_1019630', train_size=0.8, fold=5, session_id = 1520,imputation_type='iterative', iterative_imputation_iters=10, categorical_iterative_imputer='lightgbm',silent = True)

In [44]:
best = compare_models(sort='RMSE')

In [45]:
best

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [46]:
gbr = create_model('gbr', cross_validation=False)

       MAE      MSE     RMSE      R2   RMSLE    MAPE
0  15.8331  533.098  23.0889  0.8149  0.0727  0.0518

In [47]:
best_tune = tune_model(gbr, optimize = 'RMSE', n_iter = 10)

In [48]:
best_tune

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.3, loss='ls', max_depth=2,
                          max_features='log2', max_leaf_nodes=None,
                          min_impurity_decrease=0.0005, min_impurity_split=None,
                          min_samples_leaf=3, min_samples_split=4,
                          min_weight_fraction_leaf=0.0, n_estimators=150,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=1520, subsample=0.45, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [49]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [50]:
predict_model(best_tune)

       fw_1018683_t-4  wl_1019630       Label
0          248.479996  262.299988  270.087569
1          211.309998  251.300003  266.998196
2          235.820007  254.300003  268.599374
3         -892.809998  328.299988  312.457353
4          273.709991  260.299988  273.761681
...               ...         ...         ...
27378      425.799988  300.299988  284.678256
27379      849.989990  304.299988  311.498224
27380      211.500000  259.299988  266.998196
27381      277.459991  261.299988  273.761681
27382      207.029999  266.299988  266.998196

[27383 rows x 3 columns]

In [51]:
pd4 = pd.read_csv('C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/630/pred4.csv', index_col = 0)

In [52]:
sm4 = predict_model(best_tune, data= pd4)
sm4

,fw_1018683,fw_1019630,fw_1018683_t-1,fw_1019630_t-1,fw_1018683_t-2,fw_1019630_t-2,fw_1018683_t-3,fw_1019630_t-3,fw_1018683_t-4,fw_1019630_t-4,wl_1019630,Label
ymdhm,,,,,,,,,,,,
2022-05-31 23:50,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,575.57,493.58,0,294.067858
2022-06-01 0:00,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,501.04,505.03,0,293.291021
2022-06-01 0:10,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,425.89,505.03,0,284.678256
2022-06-01 0:20,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,198.19,493.58,0,266.143383
2022-06-01 0:30,53.52,386.43,12.35,417.17,28.82,449.12,8.23,471.08,70.09,482.26,0,268.035565
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:00,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,379.51,552.17,0,282.046924
2022-07-18 23:10,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,354.49,706.48,0,282.046924
2022-07-18 23:20,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,337.81,805.46,0,279.373028
2022-07-18 23:30,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,329.00,865.00,0,278.586210
2022-07-18 23:40,-1023.37,1073.46,-843.37,1039.90,-717.30,1006.88,-456.41,974.40,25.27,926.70,0,276.293269

In [53]:
sm4.to_csv("sm4.csv",columns=['Label'])

In [101]:
sample_submission = pd.read_csv("C:/Users/82108/OneDrive/ë°”íƒ• í™”ë©´/abcd/sample_submission.csv")

In [102]:
col1 = pd.DataFrame(sm1["Label"]).reset_index()
col2 = pd.DataFrame(sm2["Label"]).reset_index()
col3 = pd.DataFrame(sm3["Label"]).reset_index()
col4 = pd.DataFrame(sm4["Label"]).reset_index()

In [104]:
sample_submission["wl_1018662"] = col1["Label"]
sample_submission["wl_1018680"] = col2["Label"]
sample_submission["wl_1018683"] = col3["Label"]
sample_submission["wl_1019630"] = col4["Label"]

In [105]:
sample_submission

                 ymdhm  wl_1018662  wl_1018680  wl_1018683  wl_1019630
0     2022-06-01 00:00  314.865945  314.865945  303.218451  294.067858
1     2022-06-01 00:10  312.149856  312.149856  299.651359  293.291021
2     2022-06-01 00:20  304.547480  304.547480  293.171964  284.678256
3     2022-06-01 00:30  282.156589  282.156589  270.551279  266.143383
4     2022-06-01 00:40  291.527964  291.527964  276.429713  268.035565
...                ...         ...         ...         ...         ...
6907  2022-07-18 23:10  298.993564  298.993564  286.892256  282.046924
6908  2022-07-18 23:20  298.993564  298.993564  286.892256  282.046924
6909  2022-07-18 23:30  298.191107  298.191107  286.483747  279.373028
6910  2022-07-18 23:40  298.191107  298.191107  286.483747  278.586210
6911  2022-07-18 23:50  300.314717  300.314717  286.276849  276.293269

[6912 rows x 5 columns]

In [106]:
sample_submission.to_csv("submission_file.csv", index = False)