### Ryeol try Preprocessing the NA Value
### 2022 - 07 - 29
### Python kernel : pycaret(Python 3.8.13)

In [1]:
from pycaret.regression import *
import pandas as pd

In [2]:
df = pd.read_csv("C:/Everydata/competition_data/water_data/data_2012.csv", index_col = 0)
df

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630
ymdhm,,,,,,,,,,,,,,
2012-05-01 0:00,24.800,555.0,219.07,24.93,555.0,445.0,310.7,469.05,300.2,NaN,290,729.80,275.3,540.18
2012-05-01 0:10,24.794,464.6,218.86,25.15,562.9,449.0,314.7,498.00,300.2,NaN,290,731.48,275.3,540.18
2012-05-01 0:20,24.789,478.1,218.69,25.31,576.4,451.0,313.7,490.68,301.2,NaN,290,726.42,275.3,540.18
2012-05-01 0:30,24.789,464.8,218.69,25.31,563.1,452.0,311.7,476.21,301.2,NaN,290,726.42,276.3,552.17
2012-05-01 0:40,24.789,478.1,218.69,25.31,576.4,450.0,311.7,476.21,301.2,NaN,291,707.17,277.3,564.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-10-31 23:10,25.250,270.2,235.01,8.99,270.2,300.0,372.7,1018.67,364.2,NaN,365,1395.30,351.3,1837.11
2012-10-31 23:20,25.250,264.1,235.01,8.99,264.1,286.0,365.7,945.75,359.2,NaN,362,1154.21,350.3,1814.92
2012-10-31 23:30,25.250,257.9,235.01,8.99,257.9,273.0,362.7,915.35,356.2,NaN,359,968.58,349.3,1792.88
2012-10-31 23:40,25.250,264.1,235.01,8.99,264.1,261.0,355.7,846.39,352.2,NaN,356,776.99,346.3,1727.56
2012-10-31 23:50,25.250,270.2,235.03,8.97,270.2,249.0,356.7,856.07,349.2,NaN,353,583.20,343.3,1663.48

In [3]:
reg_test_1 = setup(data= df, target='wl_1018662', train_size=0.7, fold=5)

In [4]:
best = compare_models(sort='mse')

In [5]:
best

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=6545, verbose=0, warm_start=False)

In [6]:
best_tune

NameError: name 'best_tune' is not defined

In [7]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [8]:
predict_model(best)

,swl,inf,ecpc,tototf,tide_level,fw_1018662,wl_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630,wl_1018662,Label
0,25.309000,150.000000,6.84,150.000000,340.0,253.570007,276.200012,265.0,244.389999,255.300003,328.540009,275.700012,275.700012
1,25.299999,153.000000,7.17,353.000000,294.0,447.929993,286.200012,287.0,433.019989,275.299988,540.179993,307.700012,307.700012
2,25.205999,663.500000,10.58,763.500000,176.0,520.299988,308.200012,296.0,572.679993,278.299988,576.539978,317.700012,317.700012
3,25.198999,1550.400024,10.81,750.400024,420.0,291.269989,272.200012,271.0,246.460007,260.299988,376.450012,282.700012,282.700012
4,25.120001,463.700012,13.67,363.700012,470.0,331.649994,279.200012,269.0,392.820007,255.300003,328.540009,289.700012,289.700012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7944,24.972000,140.199997,19.00,140.199997,479.0,1008.080017,362.200012,353.0,-1447.219971,337.299988,1539.030029,371.700012,371.700012
7945,25.149000,275.000000,12.63,175.000000,170.0,550.809998,301.200012,301.0,627.950012,285.299988,666.090027,321.700012,321.700012
7946,24.979000,232.300003,18.73,134.000000,512.0,308.239990,276.200012,266.0,224.380005,254.300003,319.359985,285.700012,285.700012
7947,25.308001,560.700012,6.89,360.700012,217.0,498.000000,309.200012,311.0,593.179993,301.299988,895.580017,314.700012,314.700012
7948,25.198999,150.600006,10.81,150.600006,448.0,314.010010,276.200012,264.0,90.370003,267.299988,449.119995,286.700012,286.700012

In [ ]:
df1 = pd.read_csv('C:/Users/82108/Downloads/ì „ì²´ë°ì´í„°/Features/data1.csv', encoding = 'UTF-8', index_col = 0)

: